# Variables and Data Types <hr style="border:2.5px solid #000000"></hr>

Data Analyst: Jaymark S. Arlante <br>
Department: Electrical Engineering

In [2]:
apple = 400
apple

400

In [3]:
type(apple)

int

In [37]:
pie = 3.14
pie

3.14

In [5]:
type(pie)

float

In [9]:
grade = 'A'
grade

'A'

In [10]:
type(grade)

str

In [12]:
is_active = True
is_active

True

In [13]:
type(is_active)

bool

In [14]:
message = 'Hello, World'
message

'Hello, World'

In [16]:
type(message)

str

# Sequences <br>
# List

In [23]:
fruits = ["apple", "orange", "grapes"]
fruits

['apple', 'orange', 'grapes']

In [19]:
type(fruits)

list

In [20]:
fruits[1]

'orange'

In [21]:
fruits[1] = "mango"

In [24]:
fruits

['apple', 'orange', 'grapes']

# Tuple

In [25]:
fruits = ("apple", "orange", "grapes")
fruits

('apple', 'orange', 'grapes')

In [26]:
type(fruits)

tuple

In [27]:
fruits[0]

'apple'

In [29]:
fruits[0] = "mango"

TypeError: 'str' object does not support item assignment

# Dictionary

In [31]:
employee = {"name": "Ada",
            "age":25,
            "city":"New York"}

In [32]:
type(employee)

dict

In [34]:
employee["age"]

25

In [35]:
employee["age"] = 30

In [36]:
employee

{'name': 'Ada', 'age': 30, 'city': 'New York'}